pre {
  color: #222;
  line-height: 18px;
  margin-bottom: 18px;
  padding: 1.5em;
  /* Mozilla */ 
  white-space: -moz-pre-wrap;  

  /* Opera 4-6 */ 
  white-space: -pre-wrap;  

  /* Opera 7 */ 
  white-space: -o-pre-wrap;  

  /* CSS3 */ 
  white-space: pre-wrap;  

  /* IE 5.5+ */ 
  word-wrap: break-word;  
}